@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import url('https://fonts.googleapis.com/css?family=Assistant:300');


#root,html,body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(161, 245, 217);

}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.advise{
    position: relative;
    height: 300px;
    width: 550px;
    border: 5px solid #000;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.1;
    background-color: rgb(240, 222, 123);
    padding: 10px 20px;
}

.text{
    /* position: absolute;
    margin-top: 30px;
    align-items: center;
    justify-content: center; */
    display: flex;
    place-content: center;
}

.Btn-Advice{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(241, 179, 7);
    border: 1px solid rgba(0,0,0,0.6);
}

.Btn-Advice:hover{
    background-color: rgb(215, 203, 245);
}

